<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Introdução ao Vue.js</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <div id="app">
    {{ msg }}
    <p v-bind:title="titulo">Teste com title</p>
    <p v-if="condicao">Teste com IF</p>
    <p v-for="registro in registros"> {{ registro.titulo }}</p>
    <button v-if="!clicou" v-on:click="usuarioClicou">Salvar</button>
    <button v-if="clicou" v-on:click="usuarioClicou">Aguarde...</button>
    <p>
      <input type="text" v-model="usuario.nome">
    </p>
    <p>Nome: {{ usuario.nome }}</p>
  </div>

  <script type="text/javascript">

  var app = new Vue({
    el: "#app",
    data: {
      msg: "Iniciando com Vue JS",
      titulo: "Teste com v-bind",
      condicao: true,
      registros: [
        {titulo: 'registro 1'},
        {titulo: 'registro 2'},
        {titulo: 'registro 3'},
        {titulo: 'registro 4'},
        {titulo: 'registro 5'},
      ],
      clicou: false,
      usuario: {
        nome: "",
      }
    },
    methods: {
      usuarioClicou: function(){
        this.clicou = !this.clicou;
      }
    }
  });


  </script>

</body>
</html>
