<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Introdução ao Vue.js</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <div id="app">

    <gui-titulo v-bind:titulo="meu_titulo"></gui-titulo>
    <input type="text" v-model="meu_titulo">

    <gui-tabela v-bind:titulos="['Titulo', 'Descrição', 'Link']" v-bind:registros="registros"></gui-tabela>

    <p v-once>{{ meu_titulo }}</p>

    <p>{{ html }}</p>
    <p v-html="html"></p>

    <p>{{ 23.9842342334 | trata_valor_br }}</p>

    <ul>
      <li v-for="registro in registros">{{ registro.titulo }} - {{ registro.descricao }} - {{ registro.link }} - {{ registro.valor | trata_valor_br }}</li>
    </ul>
    <p>Total (com methods): {{ total_valores() | trata_valor_br }} -> {{ conta_methods }}</p>
    <p>Total (com computed): {{ total_valores_computado | trata_valor_br }} -> {{ conta_computed }}</p>

    <p>
      <input type="text" v-model="nome" placeholder="Nome">
    </p>
    <p>Alterações: {{ conta_alteracoes }}</p>

  </div>

  <script type="text/javascript">

  Vue.component('gui-titulo', {
    props: ['titulo'],
    template: '<H2>{{ titulo }}</H2>',
  });

  Vue.component('gui-tabela', {
    props: ['titulos', 'registros'],
    template: '<table style="width: 100%;">' +
    '<thead>' +
    '<tr>' +
    '<th v-for="titulo in titulos">{{titulo}}</th>' +
    '</tr>' +
    '</thead>' +
    '<tbody>' +
    '<tr v-for="registro in registros">' +
    '<td v-for="item in registro">{{item}}</td>' +
    '</tr>' +
    '</tbody>' +
    '</table>',
  });

  var app = new Vue({
    el: "#app",

    // variaveis do vue
    data: {
      meu_titulo: 'Esse é o Título',
      registros: [
        {titulo: 'Título 1', descricao: 'Descrição 1', link: 'link 1', valor: 23.454534534, },
        {titulo: 'Título 2', descricao: 'Descrição 2', link: 'link 1', valor: 10.534537654, },
        {titulo: 'Título 3', descricao: 'Descrição 3', link: 'link 1', valor: 224.57665734, },
      ],
      html: '<a href="#">Esse é um link</a>',
      conta_methods: 0,
      conta_computed: 0,
      nome: '',
      conta_alteracoes: 0,
    },

    filters:{
      trata_valor_br: function(valor){
        return ('R$ '+(valor).toFixed(2)).replace('.',',');
      }
    },

    methods: {
      total_valores: function(){
        // this.conta_methods++; // foi comentado pra resolver o bug de várias execuções dos metodos no vue
        var total = 0.00;
        for(item of this.registros){
          total += item.valor;
        }
        return total;
      }
    },

    // mesma coisa do methods, porem tem muito mais desempenho o codigo ser executado apenas uma vez
    computed: {
      total_valores_computado: function(){
        this.conta_computed++;
        var total = 0.00;
        for(item of this.registros){
          total += item.valor;
        }
        return total;
      }
    },

    // observadores
    watch: {
      // a variavel nome recebe uma função
      nome: function(valor){
        this.conta_alteracoes++;
        this.nome = valor.toUpperCase(); // passa o mesmo valor só que somente em maiúsculo
      }
    },
  });

  </script>

</body>
</html>
