<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Introdução ao Vue.js</title>
  <!-- CDN do VueJS  -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

  <div id="app">

    <gui-titulo titulo="Formulários"></gui-titulo>

    <p><b>Texto:</b> {{ texto }}</p>
    <p>
      <input type="text" v-model="texto">
    </p>

    <!-- faz a quebra de linha esse style do css -->
    <p style="white-space: pre-line"><b>Textarea:</b> {{ textarea }}</p>
    <p>
      <textarea v-model="textarea" name="name" rows="8" cols="80"></textarea>
    </p>


    <p>Checkbox:</p>
    <input type="checkbox" id="aceita_termos" v-model="termos">
    <label for="aceita_termos">{{ termos }}</label>

    <p>Multiplos Checkboxes: {{ notificacoes }}</p>
    <p>
      <input type="checkbox" id="receber_email" value="email" v-model="notificacoes">
      <label for="receber_email">Receber e-mail</label>
      <input type="checkbox" id="receber_sms" value="SMS" v-model="notificacoes">
      <label for="receber_email">Receber SMS</label>
      <input type="checkbox" id="receber_fone" value="Fone" v-model="notificacoes">
      <label for="receber_fone">Receber Fone</label>
    </p>

    <p>Radio: {{ sexo }}</p>
    <p>
      <input type="radio" id="masculino" value="M" v-model="sexo">
      <label for="masculino">Masculino</label>
      <input type="radio" id="feminino" value="F" v-model="sexo">
      <label for="feminino">Feminino</label>
    </p>

    <p>Select {{ ano }}</p>
    <p>
      <select v-model="ano" class="" name="">
        <option disabled value="">Escolha</option>
        <option value="2017">Ano 2017</option>
        <option value="2018">Ano 2018</option>
        <option value="2019">Ano 2019</option>
      </select>
    </p>

    <p>Multi Select {{ cores }}</p>
    <p>
      <select multiple v-model="cores" class="" name="">
        <option disabled value="">Escolha</option>
        <option>Azul</option>
        <option>Verde</option>
        <option>Vermelho</option>
      </select>
    </p>

    <p>Lazy: {{ busca }}</p>
    <p>
      <input type="text" v-model.lazy="busca">
    </p>

    <p>Number: {{ idade }} -> {{ typeof idade }}</p>
    <p>
      <input type="number" v-model.number="idade" name="" value="">
    </p>


  </div>

  <script type="text/javascript">

  Vue.component('gui-titulo', {
    props: ['titulo'],
    template: '<H2>{{ titulo }}</H2>',
  });

  var app = new Vue({
    el: "#app",

    // variaveis do vue
    data: {
      texto: '',
      textarea: '',
      termos: false,
      notificacoes: [],
      sexo: 'M', // ou iniciar com o valor -> null
      ano: 2019, // ou iniciar com o valor -> null
      cores: ['Verde'], // já inicia com o verde selecionado
      busca: '',
      idade: 33,
    },

    filters:{
      trata_valor_br: function(valor){
        return ('R$ '+(valor).toFixed(2)).replace('.',',');
      }
    },

    methods: {

    },

  });

  </script>

</body>
</html>
