<template>

  <div class="gui-card" v-bind:style="efeito_click" v-on:click="click_efeito()" v-on:mouseout="remove_click_efeito()">
    <div class="gui-card__media">
      <img class="gui-card__img" v-bind:src="imagem" alt=""  />
    </div>
    <div class="gui-card__details">
      <div class="gui-card__title">
        {{ titulo }}
      </div>
    </div>
  </div>


</template>

<script>
export default {
  props: ['titulo', 'imagem'],
  data(){
    return {
      efeito_click: null,
    }
  },
  methods: {
    click_efeito: function(){
      // console.log('click_efeito');
      this.efeito_click = 'transform: scale(1.9); margin-right: 110px;';
    },
    remove_click_efeito: function(){
      // console.log('remove_click_efeito');
      this.efeito_click = null;
    },
  }
}

</script>

<style>



</style>
