<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>netflix_vue</title>
</head>
<body>
  <noscript>
    <strong>We're sorry but netflix_vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app">
    <router-view></router-view>
  </div>
  <!-- built files will be auto injected -->
</body>
</html>
